{block content}
        <h1>{$petition->title}</h1>
        {if $signers}
            <table>
                <tr>
                    <th>Meno</th>
                    <th>Priezvisko</th>
                    <th>Adresa</th>
                    <th>PSČ</th>
                    <th>Mesto</th>
                    <th>Zamestnanie</th>
                    <th>E-mail</th>
                    <th>Typ zobrazenia</th>
                    <th>Akcie</th>
                </tr>
                {foreach $signers as $signer}
                    <tr>
                        <td>{$signer->first_name}</td>
                        <td>{$signer->last_name}</td>
                        <td>{$signer->address}</td>
                        <td>{$signer->psc}</td>
                        <td>{$signer->city}</td>
                        <td>{$signer->occupation}</td>
                        <td>{$signer->email}</td>
                        <td>{$signer->display_type}</td>
                        <td><a n:href="Signer:delete, $signer->id, $petition->id">Delete</a></td>
                    </tr>
                {/foreach}
            </table>
            <a n:href="Homepage:default">Späť</a>

        {else}
            Žiadni signatári.
        {/if}
{/block}