{block content}
<div class="container-fluid" style="padding-left: 20px;">
    <div class="row"><div class="col-md-12"><h1>Spravovanie užívateľov</h1></div></div>
    {if $users}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Meno</th>
                    <th>E-mail</th>
                    <th>Akcie</th>
                </tr>

                {foreach $users as $user}
                <tr>
                    <td>{$user->name . ' ' . $user->surname}</td>
                    <td>{$user->email}</td>
                    <td>
                        <a class="btn btn-default btn-sm" n:href="User:delete, $user->id">Vymaž</a>
                        <a class="btn btn-default btn-sm" n:href="User:edit, $user->id">Uprav</a>
                    </td>
                </tr>
                {/foreach}
            </table>
        </div>
    </div>
    {else}
    <div class="row">
        <div class="col-md-12"><h3>Žiadni užívatelia</h3></div>
    </div>
    {/if}

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-default btn-lg" n:href="User:edit">Pridaj užívateľa</a>
            <a class="btn btn-default btn-lg" n:href="Homepage:default">Späť</a>
        </div>
    </div>
</div>
{/block}