{block content}
<div class="container-fluid" style="padding-left: 20px;">
    <div class="row"><div class="col-md-12"><h1 n:block=title>Sign in</h1></div></div>

    <div class="row">
        <div class="col-md-12">
            {control signInForm}
        </div>
    </div>
</div>
{/block}
