{block content}
        <div class="container">
            <div class="header"><h2 style="color:#1A50B8; font-weight: bold;">{$petition->title}</h2></div>
            <div class="row">
                <div class="col-lg-5">

                    {if $petition->subtitle}
                        <h3>{$petition->subtitle}</h3>
                    {/if}
                    {if $petition->organizer_name}
                        <h4>Organizuje: {$petition->organizer_name}</h4>
                    {/if}
                    {if $petition->perex}
                        <div style="background-color: #eeeeee;">{!$petition->perex}</div>
                    {/if}
                    {if $petition->description}
                        {!$petition->description}
                    {/if}
                </div>

                <div class="col-lg-5">
                    {if $petition->is_active}
                        {form signerForm}
                            <div class="container-fluid">
                                <div class="header"><h4 style="color:#1A50B8;">Pridať podpis</h4></div>
                                <div class="row"><div class="col-lg-5" style="text-align: right;">{label first_name /}</div><div class="col-lg-2">{input first_name}</div></div>
                                <div class="row"><div class="col-lg-5" style="text-align: right;">{label last_name /}</div><div class="col-lg-2">{input last_name}</div></div>
                                <div class="row"><div class="col-lg-5" style="text-align: right;">{label address /}</div><div class="col-lg-2">{input address}</div></div>
                                <div class="row"><div class="col-lg-5" style="text-align: right;">{label psc /}</div><div class="col-lg-2">{input psc}</div></div>
                                <div class="row"><div class="col-lg-5" style="text-align: right;">{label city /}</div><div class="col-lg-2">{input city}</div></div>
                                <div class="row"><div class="col-lg-5" style="text-align: right;">{label occupation /}</div><div class="col-lg-2">{input occupation}</div></div>
                                <div class="row"><div class="col-lg-5" style="text-align: right;">{label email /}</div><div class="col-lg-2">{input email}</div></div>
                                <div class="row"><div class="col-lg-5" style="text-align: right;">{label display_type /}</div><div class="col-lg-4">{input display_type}</div></div>
                                <div class="row"><div class="col-lg-5">{input submit}</div></div>
                            </div>
                        {/form}
                    {else}
                        Petícia nie je aktívna.
                    {/if}
                    <hr>
                    {if $signers}
                        <ul>
                            {foreach $signers as $signer}
                                {if $signer->display_type != 'private'}
                                    <li>
                                        <b>{$signer->first_name . ' ' . $signer->last_name}</b>, {$signer->occupation},
                                        {if $signer->display_type == 'public'}
                                            {$signer->address}, {$signer->psc} {$signer->city}
                                        {else}
                                            signatár si neželá zverejniť adresu
                                        {/if}
                                    </li>
                                {else}
                                    <li>signatá si neželá zverejniť meno</li>
                                {/if}
                            {/foreach}
                        </ul>
                    {else}
                        Petícia nemá žiadne podpisy.
                    {/if}
                </div>
            </div>
        </div>
{/block}