{block content}
    {form editForm}
        <div class="container-fluid" style="padding-left: 20px;">
            <div class="row"><div class="col-md-12"><h1>Spravovanie petície</h1></div></div>
            <div class="row">
                <table class="table">
                    <tr>
                        <td>{label title /}</td><td>{input title}</td>
                    </tr>
                    <tr>
                        <td>{label subtitle /}</td><td>{input subtitle}</td>
                    </tr>
                    <tr>
                        <td>{label url_slug /}</td><td>{input url_slug}</td>
                    </tr>
                    <tr>
                        <td>{label organizer_name /}</td><td>{input organizer_name}</td>
                    </tr>
                    <tr>
                        <td>{label perex /}</td><td>{input perex}</td>
                    </tr>
                    <tr>
                        <td>{label description /}</td><td>{input description}</td>
                    </tr>
                    <tr>
                        <td>{label is_active /}</td><td>{input is_active}</td>
                    </tr>
                    <tr>
                        <td>{label is_published /}</td><td>{input is_published}</td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {input submit}
                    {input cancel}
                </div>
            </div>
        </div>
    {/form}
{/block}