{block content}
    <div class="container-fluid" style="padding-left: 20px;">
        <div class="row"><div class="col-md-12"><h1>Spravovanie petícií</h1></div></div>
        {if $petitions}
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Názov</th>
                            <th>Podnadpis</th>
                            <th>URL</th>
                            <th>Organizuje</th>
                            <th>Aktívna</th>
                            <th>Publikovaná</th>
                            <th>Akcie</th>
                        </tr>

                    {foreach $petitions as $petition}
                        <tr>
                            <td>{$petition->title}</td>
                            <td>{$petition->subtitle}</td>
                            <td><a n:href="Petition:default, $petition->id">{$petition->url_slug}</a></td>
                            <td>{$petition->organizer_name}</td>
                            <td>{$petition->is_active}</td>
                            <td>{$petition->is_published}</td>
                            <td>
                                <a class="btn btn-default btn-sm" n:href="Petition:delete, $petition->id">Vymaž</a>
                                <a class="btn btn-default btn-sm" n:href="Petition:edit, $petition->id">Uprav</a>
                                <a class="btn btn-default btn-sm" n:href="Petition:export, $petition->id">Exportuj</a>
                                <a class="btn btn-default btn-sm" n:href="Signer:default, $petition->id">Spravuj signatárov</a>
                            </td>
                        </tr>
                {/foreach}
                    </table>
                </div>
            </div>
        {else}
            <div class="row">
                <div class="col-md-12"><h3>Žiadne petície</h3></div>
            </div>
        {/if}

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default btn-lg" n:href="Petition:edit">Pridaj petíciu</a>
                <a class="btn btn-default btn-lg" n:href="Homepage:default">Späť</a>
            </div>
        </div>
    </div>
{/block}