{block content}
    <div class="container-fluid" style="padding-left: 20px;">
        <div class="row">
            <div class="col-md-11">
                <h1>Vitajte na stránke peticia.sk</h1>
            </div>
            <div class="col-md-1"  style="padding-top: 20px;">
                <a class="btn btn-default" n:href="Sign:in">Prihlásiť sa</a>
            </div>
        </div>

        <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-12">

            </div>
        </div>

        {if $petitions}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Názov petície</th>
                        <th>Podnadpis</th>
                        <th>URL</th>
                        <th>Organizuje</th>
                    </tr>

                    {foreach $petitions as $petition}
                    <tr>
                        <td><a n:href="Petition:default, $petition->id">{$petition->title}</a></td>
                        <td>{$petition->subtitle}</td>
                        <td>{$petition->url_slug}</td>
                        <td>{$petition->organizer_name}</td>
                    </tr>
                    {/foreach}
                </table>
            </div>
        </div>
        {else}
        <div class="row">
            <div class="col-md-12"><h3>Žiadne petície</h3></div>
        </div>
        {/if}
    </div>
{/block}