{block content}
    <div class="container-fluid" style="padding-left: 20px;">
        <div class="row"><div class="col-md-12"><h1>Správa stránky</h1></div></div>

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default btn-lg" n:href="Petition:manage">Spravuj petície</a>
                <a class="btn btn-default btn-lg" n:href="User:default">Spravuj užívateľov</a>
                <a class="btn btn-default btn-lg" n:href="Sign:out">Odhlásiť</a>
            </div>
        </div>
    </div>
{/block}
